## PHASE 4 â€” DATA ANALYSIS (IN PYTHON ONLY)

In [2]:
import import_ipynb
import data_preparation as my_module

# Now you can access its contents
result = my_module.dropped_duplicates

In [3]:
result.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Month,Year,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,12,2010,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,2010,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,12,2010,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,2010,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,2010,1

### Time Series (2011 Revenue by Month)  
Filter data for Year = 2011  
Group by month and calculate revenue totals  
Identify seasonal patterns or month-to-month changes

In [4]:
# Filter data for Year = 2011
_2011_data = result[result['Year']==2011]

In [5]:
# Group by month and calculate revenue totals
monthly_revenue = _2011_data.groupby('Month')['Revenue'].sum().sort_values(ascending=False)
monthly_revenue

Month
11    1156205.610
10    1035642.450
9      950690.202
5      677355.150
6      660046.050
8      644051.040
7      598962.901
3      594081.760
1      568101.310
12     517190.440
4      468374.331
2      446084.920
Name: Revenue, dtype: float64

### Country Performance (Excluding United Kingdom)  
Rank countries by total revenue  
Identify the top 10 revenue-generating countries  
Compute both revenue and quantity sold

In [6]:
# Filter data to exclude uk
country_data = result[result['Country']!='United Kingdom']

In [7]:
# Rank countries by total revenue (excluding uk)
country_revenue = country_data.groupby('Country')['Revenue'].sum().sort_values(ascending=False)
country_revenue

Country
Netherlands             285446.34
EIRE                    265262.46
Germany                 228678.40
France                  208934.31
Australia               138453.81
Spain                    61558.56
Switzerland              56443.95
Belgium                  41196.34
Sweden                   38367.83
Japan                    37416.37
Norway                   36165.44
Portugal                 33375.84
Finland                  22546.08
Singapore                21279.29
Channel Islands          20440.54
Denmark                  18955.34
Italy                    17483.24
Cyprus                   13502.85
Austria                  10198.68
Poland                    7334.65
Israel                    7215.84
Greece                    4760.52
Iceland                   4310.00
Canada                    3666.38
USA                       3580.39
Malta                     2725.59
Unspecified               2660.77
United Arab Emirates      1902.28
Lebanon                   1693.88
Lithuania                 1661.06
European Community        1300.25
Brazil                    1143.60
RSA                       1002.31
Czech Republic             826.74
Bahrain                    548.40
Saudi Arabia               145.92
Name: Revenue, dtype: float64

In [8]:
# Rank top 10 countries by total revenue (excluding uk)
top_10_country_revenue = country_data.groupby('Country')['Revenue'].sum().sort_values(ascending=False).head(10)
top_10_country_revenue

Country
Netherlands    285446.34
EIRE           265262.46
Germany        228678.40
France         208934.31
Australia      138453.81
Spain           61558.56
Switzerland     56443.95
Belgium         41196.34
Sweden          38367.83
Japan           37416.37
Name: Revenue, dtype: float64

In [9]:
# Rank countries by total quantity sold(excluding uk)
country_quantity = country_data.groupby('Country')['Quantity'].sum().sort_values(ascending=False)
country_quantity

Country
Netherlands             200937
EIRE                    140383
Germany                 119156
France                  111429
Australia                84199
Sweden                   36078
Switzerland              30083
Spain                    27944
Japan                    26016
Belgium                  23237
Norway                   19338
Portugal                 16095
Finland                  10704
Channel Islands           9485
Denmark                   8235
Italy                     8112
Cyprus                    6340
Singapore                 5241
Austria                   4881
Israel                    4043
Poland                    3684
Canada                    2763
Iceland                   2458
USA                       2458
Unspecified               1785
Greece                    1557
United Arab Emirates       982
Malta                      970
Czech Republic             671
Lithuania                  652
European Community         499
Lebanon                    386
Brazil                     356
RSA                        352
Bahrain                    260
Saudi Arabia                80
Name: Quantity, dtype: int64

In [10]:
# Rank top 10 countries by total quantity sold(excluding uk)
top_10_country_quantity = country_data.groupby('Country')['Quantity'].sum().sort_values(ascending=False).head(10)
top_10_country_quantity

Country
Netherlands    200937
EIRE           140383
Germany        119156
France         111429
Australia       84199
Sweden          36078
Switzerland     30083
Spain           27944
Japan           26016
Belgium         23237
Name: Quantity, dtype: int64

### Top Customers by Revenue  
Rank all customers by total revenue  
Identify the top 10 highest-spending customers

In [11]:
# Rank all customers by total revenue
customer_revenue = result.groupby('CustomerID')['Revenue'].sum().sort_values(ascending=False)
customer_revenue

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194390.79
16446.0    168472.50
14911.0    143711.17
             ...
17956.0        12.75
16454.0         6.90
14792.0         6.20
16738.0         3.75
13256.0         0.00
Name: Revenue, Length: 4339, dtype: float64

In [12]:
# Identify the top 10 highest-spending customers
highest_spenders = result.groupby('CustomerID')['Revenue'].sum().sort_values(ascending=False).head(10)
highest_spenders

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194390.79
16446.0    168472.50
14911.0    143711.17
12415.0    124914.53
14156.0    117210.08
17511.0     91062.38
16029.0     80850.84
12346.0     77183.60
Name: Revenue, dtype: float64

### Global Product Demand  
Compute total quantity sold per country  
Remove the United Kingdom  
Rank countries by demand and highlight high-opportunity markets

In [13]:
# Computer total quantity sold per country
country_quantity = result.groupby('Country')['Quantity'].sum().sort_values(ascending=False)
country_quantity

Country
United Kingdom          4254037
Netherlands              200937
EIRE                     140383
Germany                  119156
France                   111429
Australia                 84199
Sweden                    36078
Switzerland               30083
Spain                     27944
Japan                     26016
Belgium                   23237
Norway                    19338
Portugal                  16095
Finland                   10704
Channel Islands            9485
Denmark                    8235
Italy                      8112
Cyprus                     6340
Singapore                  5241
Austria                    4881
Israel                     4043
Poland                     3684
Canada                     2763
Iceland                    2458
USA                        2458
Unspecified                1785
Greece                     1557
United Arab Emirates        982
Malta                       970
Czech Republic              671
Lithuania                   652
European Community          499
Lebanon                     386
Brazil                      356
RSA                         352
Bahrain                     260
Saudi Arabia                 80
Name: Quantity, dtype: int64

In [14]:
# Remove the United Kingdom
# Filter data to exclude uk
#country_data = result[result['Country']!='United Kingdom']
country_quantity = country_data.groupby('Country')['Quantity'].sum().sort_values(ascending=False)
country_quantity

Country
Netherlands             200937
EIRE                    140383
Germany                 119156
France                  111429
Australia                84199
Sweden                   36078
Switzerland              30083
Spain                    27944
Japan                    26016
Belgium                  23237
Norway                   19338
Portugal                 16095
Finland                  10704
Channel Islands           9485
Denmark                   8235
Italy                     8112
Cyprus                    6340
Singapore                 5241
Austria                   4881
Israel                    4043
Poland                    3684
Canada                    2763
Iceland                   2458
USA                       2458
Unspecified               1785
Greece                    1557
United Arab Emirates       982
Malta                      970
Czech Republic             671
Lithuania                  652
European Community         499
Lebanon                    386
Brazil                     356
RSA                        352
Bahrain                    260
Saudi Arabia                80
Name: Quantity, dtype: int64

In [15]:
# Rank countries by demand and highlight high-opportunity markets (top 10 high opportunity markets)
# The country with the most quantity sold has the highest demand and is the highest ooportunity market
high_opportunity_markets = result.groupby('Country')['Quantity'].sum().sort_values(ascending=False).head(10)
high_opportunity_markets

Country
United Kingdom    4254037
Netherlands        200937
EIRE               140383
Germany            119156
France             111429
Australia           84199
Sweden              36078
Switzerland         30083
Spain               27944
Japan               26016
Name: Quantity, dtype: int64